/* style.css */
body {
  font-family: Arial, sans-serif;
  padding: 50px;
  background: #f8f7f3;
  border-radius: 5px;
}

.page {
  text-align: center;     
  padding: 25px;
  max-width: 300px;
  margin: 50px auto;
  background: rgb(215, 238, 242);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"] {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 6px;
  background:#f8f7f3 ;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  font-size: 13px;

}

button {
  margin: 10px 5px 0 0;
  padding: 10px 15px;
  background-color: #45b9c6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45b9c6;
}
.center-button {
  margin: 0px;
  padding: 20px;
}


.hidden {
  display: none;
}


.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}



.left {
  border-radius: 10px;
  flex: 1;
  background-color: rgb(215, 238, 242);
  display: flex;
  flex-direction: column;
  border-right: 1px solid #545454;

}

.right {
  border-radius: 10px;
  flex: 2.3;
  padding: 20px;
  background-color: rgb(215, 238, 242);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.right h2 { 
  background-color: #f8f7f3; 
  padding: 12px 16px;
  border-radius: 8px;   text-align: center;
  font-size: 25px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 10px;
}
.left h2 {/*HOME*/
  background-color: #f8f7f3;
  text-align: center;
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 80px;
  padding: 16px ; 
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 10px;


}

.left strong {
  align-items: center;
  display: flex;  
  font-size: 13px;         
  font-weight: bold;         
  color: #000000; 

  background-color:#f8f7f3 ; 
  border-radius: 5px;  

}
.right strong {
  align-items: center;
  display: flex;  
  font-size: 15px;     
  font-weight: bold;         
  color: #000000; 
  background-color:#f8f7f3 ; 
  padding: 20px;
  border-radius: 10px;
}


.info-box {
  border-radius: 10px;
  padding: 9px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #f8f7f3;
  
}
.sensor-grid {

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.sensor-grid p {
  display: flex;
  min-height: 150px; 
  flex-direction: column;
  justify-content: center;
  

}

#toggleButton {
  align-items: center;
  margin-left: 10px;
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #52cedc;
  color: white;
  transition: background-color 0.3s ease;
}

