/*tittle*/
body{
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 25px;
  background: #f5f0f0;
  color: #0a2022;
}
/*nen trang chu, dn, dk*/
nav {
  background: #62ccd6;
  margin-bottom: 120px; 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*mau chu tc,dn,dk*/
nav a {
  font-family: Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
}
/*o dn,dk*/
form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}
/*vien o dn,dk*/
form input, form button {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #444343;
  border-radius: 5px;
}
/*nut dn,dk*/
form button {
  background-color: #62ccd6;
  color: white;
  cursor: pointer;
}
form button:hover {
  background-color: #78e9f3;
}

/*khung hien nhiet do, do am*/
.sensor {
  margin: 40px auto;
  background-color: #d5f1f1;
  padding: 35px; /*khung nhiet do, do am*/
  border-radius: 45px; /*do tron vien*/
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  text-align: center;
}

/*bat he thong tuoi cay*/
button#toggleBtn {
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  background-color: #62ccd6;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
}
button#toggleBtn:hover {
  background-color: #78e9f3;
}
